[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "wincent/command-t"]
	path = wincent/command-t
	url = git@github.com:wincent/command-t.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = git@github.com:jeetsukumaran/vim-buffergator.git
[submodule "bundle/ctrl-p"]
	path = bundle/ctrl-p
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "bundle/rainbox_parentheses"]
	path = bundle/rainbox_parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "bundle/lightline-buffer"]
	path = bundle/lightline-buffer
	url = git@github.com:taohex/lightline-buffer.git
[submodule "bundle/vim-buftabline"]
	path = bundle/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/varnish-vcl"]
	path = bundle/varnish-vcl
	url = git@github.com:pld-linux/vim-syntax-vcl.git
